a{
    text-decoration: none !important;
}
.fw500{
    font-weight: 500;
}
.card{
    padding: 15px;
    border-radius: 15px !important;
    /* height: 460px !important; */
    margin-bottom: 50px;
}
.card img{
    /* min-height: 400px;  */
    border-radius: 10px !important;
    transition: .3s ease;
}
.card img:hover{
    scale: 1.02;
}
.card-text{
    color: #8B8CA2 !important;
}
.card-body a {
    color: rgb(0, 0, 0);
    font-weight: 700;
    letter-spacing: 1.5px;
    transition: .4s ease;
}
.card-body a:hover {
    color: #313769 ;
    letter-spacing: .5px;
}
.card-body a i {
    font-size: 13px;
}
.card-title {
    line-height: 30px;
    font-size: 18px;
}
.card-text {
    line-height: 23px;
}